<header id="home-section">
  <div class="dark-overlay">
    <div class="home-inner container">
      <div class="row">
        <div class="col-lg-8 d-none d-lg-block">
          <h1 class="display-4">
            Build <strong>social profiles</strong> and gain <strong>revenue</strong>
          </h1>
          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit aliquid nostrum expedita.
              Id fugit velit pariatur, modi rem earum provident sequi repellat. Rem sequi suscipit reiciendis quas sunt, cum officia?
            </div>
          </div> <!--d-flex-->

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit aliquid nostrum expedita.
              Id fugit velit pariatur, modi rem earum provident sequi repellat. Rem sequi suscipit reiciendis quas sunt, cum officia?
            </div>
          </div> <!--d-flex-->

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit aliquid nostrum expedita.
              Id fugit velit pariatur, modi rem earum provident sequi repellat. Rem sequi suscipit reiciendis quas sunt, cum officia?
            </div>
          </div> <!--d-flex-->

        </div><!--col-lg-8-->

        <div class="col-lg-4">
          <div class="card bg-primary text-center card-form">
            <div class="card-body">
              <h3>Sign Up Today</h3>
              <p>Please fill out this form to register</p>
              <form>
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Password">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Confirm Password">
                </div>
                <button class="btn btn-outline-light btn-block" type="submit">Submit</button>
              </form>
            </div>
          </div>

        </div><!--col-lg-4-->

      </div> <!--/row-->
    </div><!--home-inner -->
  </div>
</header>

<!--EXPLORE HEAD-->
<section id="explore-head-section">
  <div class="container">
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="display-4">Explore</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Animi commodi deserunt rerum obcaecati aut cupiditate totam modi temporibus veritatis dolorem debitis harum est ut sapiente,
          ex incidunt inventore maiores neque?
        </p>
        <a href="#" class="btn btn-outline-secondary">Find Out More</a>
      </div>
    </div>
  </div>
</section>

<!--EXPLORE SECTION-->
<section id="explore-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/images/explore-section1.jpg" alt="" class="img-fluid mb-3 rounded-circle">
      </div>
      <div class="col-md-6">
        <h3>Explore & Connect</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tempore animi officia,
          magni sint quisquam sapiente magnam ut accusamus vitae atque laboriosam ad cumque nulla laborum ea, eveniet nesciunt excepturi.</p>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione temporibus eaque, ad placeat quis nostrum.
            </div>
          </div> <!--d-flex-->

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quaerat harum tenetur error hic dicta, vitae nobis autem? Perferendis, molestiae?
            </div>
          </div> <!--d-flex-->

      </div>
    </div>
  </div>
</section>

<!--CREATE HEAD-->
<section id="create-head-section" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="display-4">Create</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Animi commodi deserunt rerum obcaecati aut cupiditate totam modi temporibus veritatis dolorem debitis harum est ut sapiente,
          ex incidunt inventore maiores neque?
        </p>
        <a href="#" class="btn btn-outline-light">Find Out More</a>
      </div>
    </div>
  </div>
</section>

<!--CREATE SECTION-->
<section id="create-section" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-2">
        <img src="../../assets/images/create-section1.jpg" alt="" class="img-fluid mb-3 rounded-circle">
      </div>
      <div class="col-md-6 order-1">
        <h3>Create Your Passion</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tempore animi officia,
          magni sint quisquam sapiente magnam ut accusamus vitae atque laboriosam ad cumque nulla laborum ea, eveniet nesciunt excepturi.</p>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione temporibus eaque, ad placeat quis nostrum.
            </div>
          </div> <!--d-flex-->

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quaerat harum tenetur error hic dicta, vitae nobis autem? Perferendis, molestiae?
            </div>
          </div> <!--d-flex-->

      </div>
    </div>
  </div>
</section>

<!--SHARED HEAD-->
<section id="share-head-section" class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="display-4">Share</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Animi commodi deserunt rerum obcaecati aut cupiditate totam modi temporibus veritatis dolorem debitis harum est ut sapiente,
          ex incidunt inventore maiores neque?
        </p>
        <a href="#" class="btn btn-outline-light">Find Out More</a>
      </div>
    </div>
  </div>
</section>

<!--SHARED SECTION-->
<section id="share-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/images/share-section1.jpg" alt="" class="img-fluid mb-3 rounded-circle">
      </div>
      <div class="col-md-6">
        <h3>Share What You Create</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tempore animi officia,
          magni sint quisquam sapiente magnam ut accusamus vitae atque laboriosam ad cumque nulla laborum ea, eveniet nesciunt excepturi.</p>

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione temporibus eaque, ad placeat quis nostrum.
            </div>
          </div> <!--d-flex-->

          <div class="d-flex">
            <div class="p-4 align-self-start">
              <i class="fas fa-check fa-2x"></i>
            </div>
            <div class="p-4 align-self-end">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quaerat harum tenetur error hic dicta, vitae nobis autem? Perferendis, molestiae?
            </div>
          </div> <!--d-flex-->

      </div>
    </div>
  </div>
</section>

<!--FOOTER-->
<footer id="main-footer" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col text-center py-4">
        <h3>LoopLAB</h3>
        <p>Copyright &copy; <span id="year">Year</span></p>
        <button class="btn btn-lg btn-primary" (click)="open(content)">Contact Us</button>
      </div>
    </div>
  </div>
</footer>

<!--todo build contact us modal using ngbstrap-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contact Us</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <label for="userName">Name</label>
        <input type="text" class="form-control" placeholder="Name">
        <label for="email">Email</label>
        <input type="text" class="form-control" placeholder="email">
        <label for="message">Message</label>
        <input type="text" class="form-control" placeholder="message">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-block" (click)="modal.close('Save click')">Submit</button>
  </div>
</ng-template>
