<div class="table-responsive">
  <h2>Coverage Types List</h2>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <td class="col">Coverage Type Id</td>
        <td class="col">Coverage Type</td>
        <td class="col">Active</td>
        <td class="col">Created By</td>
        <td class="col">Created Date</td>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row">
        <th scope="row">typeid</th>
        <td>type</td>
        <td>active</td>
        <td>createdby</td>
        <td>createddate</td>
      </tr>
    </tbody>
  </table>
</div>
