<ol>
    <li>1. Adda Input field which updates a property("username") via Tow-Way-Binding</li>
    <li>2. Output the username property via String Interpolation (in aparagraph below the input)</li>
    <li>3. Add a button which may only be clicked if the username is NOT an empty string</li>
    <li>4. Upon clicking the button, the username should be reset to an empty string</li>
</ol>

<input type="text"
        class="form-control"
        [(ngModel)]="username" >
<p> {{username}} </p>
<hr>
<button type="button"
        class="btn btn-primary"
        [disabled] = "username === ''"
        (click)="username = ''">Reset User</button>
